.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    background-color: black;
    margin: auto;
  }
  
  .navbar a {
    color: rgb(220, 6, 6);
    text-decoration: none;
  }
  
  
  .navbar .nav-links a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: white;
  }
  
  .navbar .nav-links a:hover {
    color: red;
    text-decoration: underline;
  }
  
  .navbar .nav-links a.active {
    color: red;
    text-decoration: underline;
  }
  
  .race-container{
    display: flex;
  }