.standing-links {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .standing-links a {
    color: white;
    font-weight: 600;
    font-size: 24px;
    margin-left: 50px;
    text-decoration: none;
    background-color: red;
    padding:1rem;
    border-radius: 1rem;
    outline-style: solid;
    outline-width: 0.2rem;
    outline-color: black;
  }
  
  .standing-links a.active {
    text-decoration: underline black;
    text-underline-offset: 0.5rem;
  }
  
  .standing-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }
  
  .standing-line {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-top: 0.5rem; 
    outline-style: solid;
    outline-width: 0.2rem;
    outline-color: black;
  }
  
  .red_bull {
    background-color: #0600EF;
    color: white;
    font-weight: bold;
  }
  
  .mercedes {
    background-color: #00A19B;
    color: white;
    font-weight: bold;
  }
  
  .mclaren {
    background-color: #FF8700;
    color: white;
    font-weight: bold;
  }
  
  .alpine {
    background-color: #2173B8;
    color: white;
    font-weight: bold;
  }
  
  .ferrari {
    background-color: #DC0000;
    color: white;
    font-weight: bold;
  }
  
  .alphatauri {
    background-color: #2B4562;
    color: white;
    font-weight: bold;
  }
  
  .alfa {
    background-color: #900000;
    color: white;
    font-weight: bold;
  
  }
  
  .haas {
    background-color: #FFFFFF;
    color: black;
    font-weight: bold;
  }
  
  .aston_martin {
    background-color: #006F62;
    color: white;
    font-weight: bold;
  }
  
  .williams {
    background-color: #005AFF;
    color: white;
    font-weight: bold;
  }

  .racing_point {
    background-color: #F363B9;
    color: white;
    font-weight: bold;
  }

  .renault {
    background-color: #FFF500;
    color: black;
    font-weight: bold;
  }

  .toro_rosso {
    background-color: #469BFF;
    color: black;
    font-weight: bold;
  }

  .force_india {
    background-color: #00A85C;
    color: white;
    font-weight: bold;
  }

  .sauber {
    background-color: #DE3126;
    color: white;
    font-weight: bold;
  }

  .manor {
    background-color: #ed1b24;
    color: white;
    font-weight: bold;
  }

  .marussia {
    background-color: #ed1b24;
    color: white;
    font-weight: bold;
  }

  .lotus_f1 {
    background-color: #FFB800;
    color: black;
    font-weight: bold;
  }

  .lotus_racing {
    background-color: #FFB800;
    color: black;
    font-weight: bold;
  }

  .caterham {
    background-color: #005030;
    color: white;
    font-weight: bold;
  }

  .hrt {
    background-color: #A6904F;
    color: white;
    font-weight: bold;
  }

  .virgin {
    background-color: #cc0000;
    color: white;
    font-weight: bold;
  }