@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

* {
  margin: 0;
  font-family: 'Saira';

}

.content {
  display: flex;
  justify-content: center;
}

.background {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  background-color: black;
  margin: auto;
}

.navbar a {
  color: rgb(220, 6, 6);
  text-decoration: none;
}


.navbar .nav-links a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}

.navbar .nav-links a:hover {
  color: red;
  text-decoration: underline;
}

.navbar .nav-links a.active {
  color: red;
  text-decoration: underline;
}

.standing-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.standing-links a {
  font-size: 24px;
  margin-left: 50px;
  text-decoration: none;
}

.standing-links a.active {
  text-decoration: underline red;
}

.standing-container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.standing-line {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.red_bull {
  background-color: #0600EF;
  color: white;
  font-weight: bold;
}

.mercedes {
  background-color: #00D2BE;
  color: white;
  font-weight: bold;
}

.mclaren {
  background-color: #FF8700;
  color: white;
  font-weight: bold;
}

.alpine {
  background-color: #0090FF;
  color: white;
  font-weight: bold;
}

.ferrari {
  background-color: #DC0000;
  color: white;
  font-weight: bold;
}

.alphatauri {
  background-color: #2B4562;
  color: white;
  font-weight: bold;
}

.alfa {
  background-color: #900000;
  color: white;
  font-weight: bold;
}

.haas {
  background-color: #FFFFFF;
  color: black;
  font-weight: bold;
}

.aston_martin {
  background-color: #006F62;
  color: white;
  font-weight: bold;
}

.williams {
  background-color: #005AFF;
  color: white;
  font-weight: bold;
}

.race-container{
  display: flex;
}