@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

*{
  margin: 0;
  font-family: 'Saira';
  color: rgb(0, 0, 0)
}

.background {
  padding: 20px;
  display: flex;
  align-items: center;
  
  margin: 0 auto;
  background-color: black;
}

.navbar {
  width: 1000px;
  background-color: black;
}
.navbar h1 {
  color: rgb(220, 6, 6);
}

.navbar .nav-links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}

.navbar a:hover {
  color:red;
  text-decoration: underline;
}

.navbar a.active {
  color:red;
  text-decoration: underline;
}
.standing-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.standing-links a {
  font-size: 24px;
  margin-left: 50px;
  text-decoration: none;
}
.standing-links a.active {
  text-decoration: underline red;
}